body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u161 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u162 {
  position:absolute;
  left:0px;
  top:57px;
  width:375px;
  height:1px;
}
#u163 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u164 {
  position:absolute;
  left:115px;
  top:20px;
  width:145px;
  height:22px;
  font-size:18px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u166 {
  position:absolute;
  left:8px;
  top:18px;
  width:25px;
  height:25px;
}
#u167 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u168 {
  position:absolute;
  left:7px;
  top:75px;
  width:57px;
  height:16px;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u170 {
  position:absolute;
  left:0px;
  top:105px;
  width:375px;
  height:1px;
}
#u171 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u172 {
  position:absolute;
  left:7px;
  top:122px;
  width:57px;
  height:16px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u174 {
  position:absolute;
  left:0px;
  top:152px;
  width:375px;
  height:1px;
}
#u175 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u176 {
  position:absolute;
  left:340px;
  top:120px;
  width:25px;
  height:25px;
}
#u177 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u178 {
  position:absolute;
  left:7px;
  top:172px;
  width:29px;
  height:16px;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u180 {
  position:absolute;
  left:0px;
  top:202px;
  width:375px;
  height:1px;
}
#u181 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u182 {
  position:absolute;
  left:302px;
  top:172px;
  width:43px;
  height:16px;
  color:#000000;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u184 {
  position:absolute;
  left:340px;
  top:170px;
  width:20px;
  height:20px;
}
#u185 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u186 {
  position:absolute;
  left:96px;
  top:122px;
  width:57px;
  height:16px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u188 {
  position:absolute;
  left:96px;
  top:75px;
  width:43px;
  height:16px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u190 {
  position:absolute;
  left:340px;
  top:21px;
  width:20px;
  height:20px;
}
#u191 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u193 {
  position:absolute;
  left:0px;
  top:151px;
  width:375px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u194 {
  position:absolute;
  left:327px;
  top:2px;
  width:48px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
