body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:388px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u521 {
  position:absolute;
  left:13px;
  top:21px;
  width:375px;
  height:667px;
}
#u522 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u523 {
  position:absolute;
  left:13px;
  top:78px;
  width:375px;
  height:1px;
}
#u524 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u525 {
  position:absolute;
  left:155px;
  top:40px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u526 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u527 {
  position:absolute;
  left:21px;
  top:39px;
  width:25px;
  height:25px;
}
#u528 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u529 {
  position:absolute;
  left:13px;
  top:21px;
  width:52px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u530 {
  position:absolute;
  left:13px;
  top:79px;
  width:375px;
  height:608px;
  overflow:hidden;
}
#u530_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:608px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u530_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u531 {
  position:absolute;
  left:109px;
  top:8px;
  width:155px;
  height:16px;
}
#u532 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:525px;
}
#u533 {
  position:absolute;
  left:1px;
  top:58px;
  width:373px;
  height:525px;
}
#u534 {
  position:absolute;
  left:2px;
  top:254px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u535 {
  position:absolute;
  left:30px;
  top:292px;
  width:314px;
  height:25px;
  text-align:left;
}
#u536 {
  position:absolute;
  left:2px;
  top:4px;
  width:310px;
  word-wrap:break-word;
}
#u537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u537 {
  position:absolute;
  left:52px;
  top:358px;
  width:269px;
  height:43px;
  color:#AEAEAE;
}
#u538 {
  position:absolute;
  left:2px;
  top:14px;
  width:265px;
  word-wrap:break-word;
}
#u539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u539 {
  position:absolute;
  left:53px;
  top:534px;
  width:60px;
  height:19px;
  color:#868686;
}
#u540 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:28px;
}
#u541 {
  position:absolute;
  left:164px;
  top:486px;
  width:191px;
  height:87px;
  text-align:left;
  line-height:28px;
}
#u542 {
  position:absolute;
  left:2px;
  top:2px;
  width:187px;
  word-wrap:break-word;
}
#u543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:115px;
}
#u543 {
  position:absolute;
  left:0px;
  top:607px;
  width:373px;
  height:115px;
}
#u544 {
  position:absolute;
  left:2px;
  top:50px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:132px;
}
#u545 {
  position:absolute;
  left:0px;
  top:773px;
  width:373px;
  height:132px;
}
#u546 {
  position:absolute;
  left:2px;
  top:58px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:155px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:28px;
}
#u547 {
  position:absolute;
  left:164px;
  top:619px;
  width:191px;
  height:155px;
  text-align:left;
  line-height:28px;
}
#u548 {
  position:absolute;
  left:2px;
  top:2px;
  width:187px;
  word-wrap:break-word;
}
#u549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u549 {
  position:absolute;
  left:164px;
  top:805px;
  width:191px;
  height:67px;
  line-height:28px;
}
#u550 {
  position:absolute;
  left:2px;
  top:6px;
  width:187px;
  word-wrap:break-word;
}
#u551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u551 {
  position:absolute;
  left:112px;
  top:34px;
  width:149px;
  height:16px;
}
#u552 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
